body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgoldenrodyellow;
}
.header-text{
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
   
}
.gif-container{
    display: flex;
    justify-content: center;
    align-items: center;
}